body {
    
    margin: 0;
    padding: 0;
}

#webcam , #canvas-blended{
    display: none;
}

#source{
    position: relative;
    left:160px;
    top:50px;
}

#canvas-source, #hotSpots {
    width:70%;
    position:absolute;
    left:0;
    top:0;
}

#hotSpots {
    width:100px;
    height: 100px;
    border: .3em black dotted;
    z-index: 10;
}

#tut {
    z-index: 15;
    width:22%;
    left:480;
    position: absolute;
    left: 465px;
    top: 348px;
}
