body {
    
    margin: 0;
    padding: 0;
}

#header{
    height: 30px;
    background-color: black;
}

#webcam {
        display: none;
}

#canvas-source, #canvas-highlights {
        
        position: absolute;
        left: 0;
        top: 0;
        top: 50px;
}

#tut {
    position: absolute;
    right: 10px;
    top: 50px;
}

#hotSpots {
    position: relative;
    top: 50px;
    height: 300px;
    width: 300px;
    border: 1em black dotted;

}

#canvas-blended {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
}
